body {
    background: linear-gradient(180deg, rgb(41, 39, 39), rgb(67, 67, 67));
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*HEADER*/

header {
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
    width: 100%;
}

h1 {
    font-size: 40px;
    padding: 2rem;
}

h2 {
    font-size: 25px;
    background-image: linear-gradient(90deg, #EB148A, #2824E6);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/*SEÇÃO JOGO*/
main {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin: 2rem;
    font-weight: 700;
}

.h3-resultado-rodada {
    color: transparent;
}

h4 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.h4-voce {
    color: #4947e1;
    margin-right: 4rem;
}

.h4-computador {
    color: #EB148A;
}

.escolhas-container {
    display: flex;
    gap: 3rem;
}

.escolha-jogador-antes,
.escolha-computador-antes {
    flex: 1;
    border-radius: 16px;
    padding: 20px;
    width: 8rem;
    text-align: center;
}

.escolha-jogador-antes {
    border: solid #2824E6 2px;
}

.escolha-computador-antes {
    border: solid #EB148A 2px;
}

.img-resultado-antes {
    max-width: 100px;
    visibility: hidden;
}

.img-resultado-depois {
    max-width: 100px;
}

.escolha-jogador-depois {
    flex: 1;
    border-radius: 16px;
    padding: 20px;
    width: 8rem;
    text-align: center;
    border: solid #2824E6 2px;
    background-color: #716fd9;
}


.escolha-computador-depois {
    flex: 1;
    border-radius: 16px;
    padding: 20px;
    width: 8rem;
    text-align: center;
    border: solid #EB148A 2px;
    background-color: #EB148A;
}

.p-jogador,
.p-computador {
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}



.selecao-jogador-container {
    text-align: center;
}

.buttons-container {
    display: flex;
    gap: 1rem;
}

button {
    border: 2px solid rgb(134, 3, 160);
    border-radius: 16px;
    padding: 20px;
    width: 8rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    box-shadow: 0 0 10px 10px rgb(134, 3, 160);
    cursor: pointer;
}

.btn-img {
    max-width: 100px;
}

.p-sua-escolha {
    margin: 2rem;
}

.buttons-container p,
.p-sua-escolha {
    font-weight: 600;
    font-size: 1.5rem;
}

footer {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}


@media (max-width: 500px) {
    .escolhas-container {
        flex-direction: column;
        justify-content: center;
    }

    h3,
    .h3-resultado-rodada {
        margin: 0.5rem;
        font-size: 20px;
    }

    h4 {
        font-size: 15px;
    }

    .jogador-container,
    .computador-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .p-jogador,
    .p-computador {
        font-size: 15px;
    }
}